<html>
  <head>
    <meta charset='utf-8' />
    <title>Refinances</title>
    <link href='/main.css' rel='stylesheet' />
  </head>
  <body>
    <div class='bg-blue-500'>
      {{message}}
    </div>
  </body>
</html>